<template>
  <lightning-card>
    <div class="slds-p-horizontal_small">
      <template if:true={isStateList}>
        <c-session-list onnavigate={handleNavigate}>
        </c-session-list>
      </template>
      <template if:true={isStateDetails}>
        <c-session-details session-id={sessionId}></c-session-details>
      </template>
    </div>
  </lightning-card>
</template>